<%- messages() %>

    <div class="login-container">
        <h1 class="login-title">
            <%= title %>
        </h1>

        <form action="/account/login" method="post" class="login-form">
            <div class="form-group">
                <label for="accountEmail" class="login-label">Email:</label>
                <input type="email" id="accountEmail" name="accountEmail" required class="login-input">
            </div>

            <div class="form-group">
                <label for="accountPassword" class="login-label">Password:</label>
                <span class="password-info"> Must be at least 12 characters and have capital letter, number, and special character.</span>
                <input type="password" id="accountPassword" name="accountPassword" required class="login-input" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </div>

            <button type="submit" class="login-button">LOGIN</button>
        </form>

        <p class="signup-link">No account? <a href="/account/register" class="signup-link-anchor">Sign-up</a></p>
    </div>